<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <title>Timedoo</title>


    <!-- Bootstrap core CSS -->
    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{$basePath}/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{$basePath}/css/styleLogin.css"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- remember, jQuery is completely optional -->


    <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
    <script type='text/javascript' src='{$basePath}/js/jquery.particleground.js'></script>
    <script type='text/javascript' src='{$basePath}/js/login.js'></script>
</head>

<body>

<div id="particles">
    {include login.latte}
    {include content}
</div>

</body>
</html>
